USE [Films]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 5/16/2017 4:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](200) NOT NULL,
	[Description] [text] NULL,
	[Year] [smallint] NULL,
	[Director] [nchar](100) NULL,
	[Poster] [image] NULL,
	[UserID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([ID], [Name], [Description], [Year], [Director], [Poster], [UserID]) VALUES (1, N'Пуаро                                                                                                                                                                                                   ', N'Популярный британский сериал, ставший экранизацией романов Агаты Кристи о выдающемся бельгийском сыщике-перфекционисте.', 1984, N'Эдвард Беннет                                                                                       ', NULL, N'059dcd13-d4b4-44ba-9937-6f6e6d0129d0')
INSERT [dbo].[Film] ([ID], [Name], [Description], [Year], [Director], [Poster], [UserID]) VALUES (3, N'Шерлок Холмс                                                                                                                                                                                            ', N'Классические расследования знаменитого Шерлока Холмса, в которых ему помогает го бессменный друг доктор Ватсон.', 1980, N'Игорь Масленников                                                                                   ', NULL, N'059dcd13-d4b4-44ba-9937-6f6e6d0129d0')
SET IDENTITY_INSERT [dbo].[Film] OFF
